<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add collections</title>
</head>
<body>
<form th:action="@{/add}" th:object="${collections}" method="POST">
    Collection name:
    <input type="text" th:field="*{collectionName}"/>
    <br/>
    Add collections:
    <br/>
    <textarea id="jsonArea" cols=50 rows=10 th:field="*{collection}"></textarea>
    <br/>
    <input type="submit" value="Submit"/>
    <br/>
    <a th:text="${result}"></a>
    <br/>
    <a href="/">To select</a>
    <br/>
</form>
<br/>
</body>
<script>
var pretty = JSON.stringify(obj, undefined, 2);
var ugly = document.getElementById('jsonArea').value;
document.getElementById('jsonArea').value = pretty;
</script>
</html>