<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Query</title>
</head>
<body>
<form th:action="@{/convert}" th:object="${query}" method="POST">
    Query:
    <input type="text" th:field="*{sqlQuery}"/>
    <br/>
    <input type="submit" value="Select"/>
    <br/>
    Result:
    <br/>
    <textarea id="jsonArea" cols=50 rows=10 th:text="${results}"></textarea>
    <br/>
    <a href="/add">To add collections</a>
</form>
<br/>
</body>
<script>
var pretty = JSON.stringify(obj, undefined, 2);
var ugly = document.getElementById('jsonArea').value;
document.getElementById('jsonArea').value = pretty;
</script>
</html>